#blog {

  .articles {
    max-width: 700px;
    margin: 0 auto;
    background-color: $blackColour;
    text-align: left;
    padding: 60px 40px 20px 40px;

    @media(min-width: 576px) {
      font-size: 1.2rem;
    }

    figure {
      width: 100%;
      h5 {
        margin-bottom: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        a {
          font-size: 0.85rem;
          color: $borderColour;
        }
      }
      img {
        width: 100%;
      }

      figcaption {
        font-size: 0.85rem;
        font-style: italic;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    ul {
      padding-left: 0;
      list-style: none;

      li {
        padding-top: 15px;
        padding-bottom: 15px;

        span {
          color: $borderColour;
        }
      }
    }
  }

  .head-img {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 40px;
    img {
      width: 100px;
      height: 100px;
      border: 5px $textColour solid;
      border-radius: 50%;
    }
  }

  .head-titles {
    h3 {
      color: $headingColour;
      font-family: 'Saira', sans-serif;
      border-bottom: 2px $textColour solid;
      padding-bottom: 8px;
    }
    h6 {
      color: $textColour;
      font-family: 'Monserrat', sans-serif;
      font-style: italic;
    }
  }
}