#callout {

  background: linear-gradient(rgba(31, 40, 51, 0.8), rgba(31, 40, 51, 0.8)), url('../img/header_bg_lg.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 0;
  background-attachment: scroll;
  z-index: 1;

  @media (min-width: 576px) {
    background: linear-gradient(rgba(31, 40, 51, 0.8), rgba(31, 40, 51, 0.8)), url('../img/header_bg_lg.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 0;
    background-attachment: scroll;
    z-index: 1;
  }

  @media (min-width: 1025px) {
    background-attachment: fixed;
  }

  // responsive padding adjustments

  padding: 40px 20px 20px 20px;

  @media (min-width: 576px) {
    padding: 80px 30px 80px 30px;
  }

  @media (min-width: 768px) {
    padding: 100px 50px 100px 50px;
  }

  @media (min-width: 992px) {
    padding: 220px 140px 220px 140px;
  }

  .introHeading, .introPara, .main-btns {
    opacity: 0;
  }

}


