.modal-header,
.modal-body,
.modal-footer {
  background-color: $darkColour;
}

.modal {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.close {
  color: $headingColour;
  opacity: 1;
}

.close:hover {
  color: $navHighlight;
}


// stop modal window scrolling background on mobile

.stopScroll {
  overflow: hidden;
  position: fixed;
}

