
// Colours
$blackColour: #0b0c10;
$darkColour: #1f2833;
$textColour: #c5c6c7;
$headingColour: #66fcf1;
$borderColour: #45a29e;
$navHighlight: #d1fefa;

// Partial Imports
@import "callout";
@import "nav";
@import "projects";
@import "process";
@import "contact";
@import "footer";
@import "modal";
@import "blog";


// General Styles

body {
  background-color: $darkColour;
  color: $textColour;
  max-width: 1440px;
  font-family: 'Monserrat', sans-serif;
}

h1, h3, h5 {
  font-family: 'Saira', sans-serif;
  color: $headingColour;
}

p {
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: $textColour;
}

a:hover, a:active, a:visited, a:link {
  text-decoration: none;
  outline: none;
}


// responsive padding adjustments

#projects,
#process,
#contact {

  padding: 40px 20px;

  @media (min-width: 576px) {
    padding: 40px 30px 40px 30px;
  }

  @media (min-width: 768px) {
    padding: 68px 50px 68px 50px;
  }

  @media (min-width: 992px) {
    padding: 68px 140px 68px 140px;
  }
}

.container-fluid {
  padding: 0;
}


// Button styling (override bootstrap classes)

.btn-outline-primary {
  border: 2px $borderColour solid;
  color: $headingColour;
  margin-bottom: 10px;
}

.btn-outline-primary:hover {
  border: 2px $borderColour solid;
  background-color: $borderColour;
  transition: 0.4s ease-in;
}







