#callout {
  background: linear-gradient(rgba(31, 40, 51, 0.8), rgba(31, 40, 51, 0.8)), url("https://dnxi05fu5z434.cloudfront.net/header_bg_lg.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 0;
  background-attachment: scroll;
  z-index: 1;
  padding: 60px 20px 20px 20px; }
  @media (min-width: 576px) {
    #callout {
      background: linear-gradient(rgba(31, 40, 51, 0.8), rgba(31, 40, 51, 0.8)), url("https://dnxi05fu5z434.cloudfront.net/header_bg_lg.jpg") no-repeat;
      background-size: cover;
      background-position: 50% 0;
      background-attachment: scroll;
      z-index: 1; } }
  @media (min-width: 1025px) {
    #callout {
      background-attachment: fixed; } }
  @media (min-width: 576px) {
    #callout {
      padding: 60px 30px 80px 30px; } }
  @media (min-width: 768px) {
    #callout {
      padding: 100px 50px 100px 50px; } }
  @media (min-width: 992px) {
    #callout {
      padding: 220px 140px 220px 140px; } }
  #callout .introHeading, #callout .introPara, #callout .main-btns {
    opacity: 0; }

.hideOnLoad {
  display: none; }

@media (min-width: 768px) {
  #main-nav {
    display: none;
    z-index: 400;
    width: 100%;
    padding: 20px 20px 20px 0;
    background-color: rgba(31, 40, 51, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    text-align: right; }
    #main-nav a {
      z-index: 400;
      color: #66fcf1;
      display: inline-block;
      padding-left: 20px;
      text-transform: uppercase;
      font-size: 1.2em; }
    #main-nav a:hover {
      text-decoration: none;
      color: #d1fefa;
      transition: 0.4s ease-in-out; } }
@media (max-width: 767px) {
  #main-nav {
    display: none; }
    #main-nav a {
      display: none; }

  #nav-icon {
    z-index: 400;
    width: 50px;
    height: 37.5px;
    position: fixed;
    top: 20px;
    right: 20px;
    transform: rotate(0deg);
    transition: .5s ease-in-out; }

  #nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #66fcf1;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }

  #nav-icon span:nth-child(1) {
    top: 0px; }

  #nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
    top: 15px; }

  #nav-icon span:nth-child(4) {
    top: 30px; }

  #nav-icon.open span:nth-child(1) {
    top: 15px;
    width: 0%;
    left: 50%; }

  #nav-icon.open span:nth-child(2) {
    transform: rotate(45deg); }

  #nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg); }

  #nav-icon.open span:nth-child(4) {
    top: 15px;
    width: 0%;
    left: 50%; }

  .menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 40, 51, 0.8);
    z-index: 400; }

  .menu-list {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
    .menu-list a {
      display: block;
      color: #66fcf1;
      text-transform: uppercase;
      font-size: 2em;
      font-weight: 600;
      padding-bottom: 10px; }
    .menu-list a:hover {
      text-decoration: none;
      color: #d1fefa;
      transition: 0.4s ease-in-out; } }
#projects {
  background-color: #0b0c10; }
  #projects a {
    color: #66fcf1;
    font-size: 1.4rem; }
  #projects a:hover {
    color: #d1fefa; }
  #projects .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
  #projects .project-detail {
    display: none;
    width: 100%;
    height: 100%;
    border: 2px #c5c6c7 solid;
    padding: 20px; }
    #projects .project-detail h5 {
      margin-bottom: 0; }
    #projects .project-detail p {
      font-size: 0.9rem;
      letter-spacing: 1px; }
  #projects .url-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 40, 51, 0.2);
    transition: background-color  0.7s ease-in-out; }
    #projects .url-overlay a {
      z-index: 300;
      color: #66fcf1;
      text-decoration: none;
      opacity: 0;
      transition: opacity 0.7s 0.5s; }
    #projects .url-overlay a:hover {
      color: #d1fefa; }
  #projects .projects-item {
    width: 335px;
    margin-top: 20px;
    overflow: hidden;
    position: relative; }
    #projects .projects-item img {
      width: 100%;
      height: 100%; }
    #projects .projects-item .url-overlay.trans {
      background-color: rgba(31, 40, 51, 0.8); }
      #projects .projects-item .url-overlay.trans a {
        opacity: 1; }
  @media (min-width: 576px) {
    #projects .projects-item {
      width: 480px;
      height: 360px;
      margin-top: 20px;
      overflow: hidden;
      position: relative; } }

@media (min-width: 1025px) {
  #process {
    background: linear-gradient(rgba(31, 40, 51, 0.8), rgba(31, 40, 51, 0.8)), url("https://dnxi05fu5z434.cloudfront.net/board_lg.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 0;
    background-attachment: fixed; } }

@media (max-width: 1024px) {
  #process::after {
    content: '';
    display: block;
    background: linear-gradient(rgba(31, 40, 51, 0.8), rgba(31, 40, 51, 0.8)), url("https://dnxi05fu5z434.cloudfront.net/board_sm.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -10; } }
.process-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.process-item {
  min-width: 300px;
  width: 300px;
  height: 200px;
  margin-top: 20px;
  overflow: hidden;
  position: relative; }
  .process-item .process-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    min-width: 300px;
    width: 300px;
    height: 200px;
    background-color: rgba(31, 40, 51, 0.1);
    transition: background-color 0.5s 0.5s; }
    .process-item .process-overlay h5 {
      margin-bottom: 0;
      padding: 15px 0 0 20px;
      opacity: 0;
      transition: opacity 1s 0.5s; }
    .process-item .process-overlay p {
      font-size: 0.9rem;
      letter-spacing: 1px;
      padding-top: 5px;
      padding-left: 20px;
      padding-right: 20px;
      opacity: 0;
      transition: opacity 1s 0.5s; }
  .process-item img {
    transition: transform 0.5s cubic-bezier(0.7, -0.4, 0.3, 1.4); }
  .process-item .process-overlay.trans {
    background-color: rgba(31, 40, 51, 0.85); }
  .process-item .process-overlay.trans + img {
    transform: scale(1.2); }
  .process-item .process-overlay.trans p, .process-item .process-overlay.trans h5 {
    opacity: 1; }

#contact {
  background-color: #0b0c10; }
  #contact a {
    color: #66fcf1;
    font-size: 1.4rem; }
  #contact a:hover {
    color: #d1fefa; }

footer {
  padding: 20px 20px 40px 20px;
  background-color: #1f2833; }
  @media (min-width: 576px) {
    footer {
      padding: 20px 30px 40px 30px; } }
  @media (min-width: 768px) {
    footer {
      padding: 20px 50px 40px 50px; } }
  @media (min-width: 992px) {
    footer {
      padding: 60px 140px 60px 140px; } }
  footer ul {
    list-style: none;
    padding-left: 0; }
    footer ul a:hover {
      color: #66fcf1; }
  footer .copyright {
    text-align: center; }
    footer .copyright p {
      padding: 0; }
  footer .social {
    margin-top: 15px;
    text-align: right; }
    footer .social a {
      padding-left: 5px;
      margin-bottom: 40px;
      text-decoration: none;
      color: #c5c6c7; }
    footer .social svg {
      transition: .5s ease-in; }
    footer .social svg:hover {
      color: #66fcf1; }
  @media (max-width: 767px) {
    footer .social {
      text-align: center; }
    footer ul {
      text-align: center; } }

.modal-header,
.modal-body,
.modal-footer {
  background-color: #1f2833; }

.modal {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch; }

.close {
  color: #66fcf1;
  opacity: 1; }

.close:hover {
  color: #d1fefa; }

.stopScroll {
  overflow: hidden;
  position: fixed; }

#blog .articles {
  max-width: 700px;
  margin: 0 auto;
  background-color: #0b0c10;
  text-align: left;
  padding: 60px 40px 20px 40px; }
  @media (min-width: 576px) {
    #blog .articles {
      font-size: 1.2rem; } }
  #blog .articles figure {
    width: 100%; }
    #blog .articles figure h5 {
      margin-bottom: 0;
      padding-top: 15px;
      padding-bottom: 15px; }
      #blog .articles figure h5 a {
        font-size: 0.85rem;
        color: #45a29e; }
    #blog .articles figure img {
      max-width: 100%;
      width: 100%; }
    #blog .articles figure figcaption {
      font-size: 0.85rem;
      font-style: italic;
      padding-top: 5px;
      padding-bottom: 5px; }
  #blog .articles ul {
    padding-left: 0;
    list-style: none; }
    #blog .articles ul li {
      padding-top: 15px;
      padding-bottom: 15px; }
      #blog .articles ul li span {
        color: #45a29e; }
#blog .head-img {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 40px; }
  #blog .head-img img {
    width: 100px;
    height: 100px;
    border: 5px #c5c6c7 solid;
    border-radius: 50%; }
#blog .head-titles h3 {
  color: #66fcf1;
  font-family: 'Saira', sans-serif;
  border-bottom: 2px #c5c6c7 solid;
  padding-bottom: 8px; }
#blog .head-titles h6 {
  color: #c5c6c7;
  font-family: 'Monserrat', sans-serif;
  font-style: italic; }

body {
  background-color: #1f2833;
  color: #c5c6c7;
  max-width: 1440px;
  font-family: 'Monserrat', sans-serif; }

h1, h3, h5 {
  font-family: 'Saira', sans-serif;
  color: #66fcf1; }

p {
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px; }

a {
  text-decoration: none;
  color: #c5c6c7; }

a:hover, a:active, a:visited, a:link {
  text-decoration: none;
  outline: none; }

#projects,
#process,
#contact {
  padding: 40px 20px; }
  @media (min-width: 576px) {
    #projects,
    #process,
    #contact {
      padding: 40px 30px 40px 30px; } }
  @media (min-width: 768px) {
    #projects,
    #process,
    #contact {
      padding: 68px 50px 68px 50px; } }
  @media (min-width: 992px) {
    #projects,
    #process,
    #contact {
      padding: 68px 140px 68px 140px; } }

.container-fluid {
  padding: 0; }

.btn-outline-primary {
  border: 2px #45a29e solid;
  color: #66fcf1;
  margin-bottom: 10px; }

.btn-outline-primary:hover {
  border: 2px #45a29e solid;
  background-color: #45a29e;
  transition: 0.4s ease-in; }

/*# sourceMappingURL=styles_compiled_v7.css.map */
